<footer>
   <div id="footer-logo">Recipe-app</div>
   <div id="ironhack"><img src="/images/ironhack_logo.png" alt="Ironhack Logo">&nbsp;&nbsp;Ironhack Project 2</div>
   <div id="group">Lea | Nurah | Gregor</div>
</footer>
