<form method='POST' action='/recipe/newingredient'>
  <input
    type='text'
    name='ingredients'
    id='input-ingredients'
    placeholder='New Ingredient'
  />
  <button>Add Another One</button>
</form>