<div class="col">
   <div class="card recipe-card">
      <div class="recipe-image p-2" style="background-image: url('/images/recipe_dummy_1.jpg')">
         <div class="card-body card">
            <h5 class="card-title">Recipe 01</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
         </div>
      </div>
   </div>
</div>
