<div class="col-xs-12 col-md-6 col-xl-4">
  <a href='/profile/{{_id}}'>
    <div class="card p-3 mb-3">
      {{#if picture}}
      <img src='{{picture}}' alt='{{username}}' width='50px' />
      {{/if}}
      <h3>{{username}}</h3>
      <p>Date joined:</br>Recipes:</br>Comments:</p>
    </div>
  </a>
</div>
