<h1>About Us:</h1>

<form>
  <div>
    <a href='https://github.com/leavonoldenburg'>Lea</a>
    <img class='about' />
  </div>

  <div>
    <a href='https://github.com/Senimtra'>Gregor</a>
    <img class='about' src='' />
  </div>

  <div>
    <a href='https://github.com/NuraFattah'>Nura</a>
    <img class='about' />
  </div>

</form>