<div class='allAboutElements'>

  <div class='secondary-bar'>
    <div class='heading-secondary'>Some information about us</div>
  </div>

  <div class='aboutElements'>

    {{! Lea }}
    <span class='a'>

      <a class='aboutA' href='https://github.com/leavonoldenburg'>Lea</a>

      <a class='aboutA' href='https://github.com/leavonoldenburg'><img
          class='img'
          alt='lea'
          src='./images/lea.png'
        /></a>

      <p>From Mainhattan a.k.a. Frankfurt, Germany</p>
      <hr />
      <p>My favourite dishes are
        <a href=''>my grandma's potato soup</a>,
        <a href=''>my father's 'Kässpätzle'</a>
        and
        <a href=''>apricot or plum filled dumplings</a>.</p>
      <p>My biggest kitchen disaster occurred when I tried to defrost spring
        rolls in a microwave in the student dorm. Smoke soon filled the room and
        the smoke detector went off which meant that everyone on my floor had to
        leave their apartments until the security staff came and turned the
        alarm off.</p>
    </span>

    {{! Gregor }}
    <span class='a'>

      <a class='aboutA' href='https://github.com/Senimtra'>Gregor</a>
      <a class='aboutA' href='https://github.com/Senimtra'><img
          class='img'
          alt='Gregor'
          src='./images/gregor.png'
        /></a>
      <hr />
      <p>Lorem ipsum rem temporibus eveniet delectus Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Molestias necessitatibus qui dolore. Iure,
        dolore accusantium autem ea repellat similique, id cupiditate quas,
        perferendis mollitia dolorem itaque? Repellat et aliquid hic!</p>

    </span>

    {{! Nura }}
    <span class='a'>
      <a class='aboutA' href='https://github.com/NuraFattah'>Nura</a>
      <a class='aboutA' href='https://github.com/NuraFattah'><img
          class='img'
          alt='Nura'
          src='./images/nura.jpg'
        /></a>
      <p>Hey, I'm Nura 18 years old, from Germany :D</p>
      <hr />
      <p>My favourite dishes are
        <a href='./recipe/614c7ec6be8bce24d1f9d390'>Spaghetti Bolognese</a>
        and
        <a href='./recipe/614c63087b24436fb3f68f83'>Japanese Street Crepes.</a>😋
      </p>
      <p>My biggest kitchen disaster was when I tried to bake something in the
        oven and the parchment paper caught fire.🔥 Luckily nothing happened,
        but it was terrifying for sure.😅
      </p>
    </span>
  </div>
</div>