<h1>Create your own recipe</h1>
<form method='POST'>

  <label for='input-text'></label>
  <input
    type='text'
    name='text'
    id='input-text'
    placeholder='What did you cook today?'
  />

  <label for='input-picture'>Add your images</label>
  <input id='input-picture' type='file' name='picture' accept='image/*' />
  <button>Publish</button>

</form>