<main>
   <div class="secondary-bar">
      <div id="recipe-count">{{range}}&nbsp;&nbsp;&nbsp;of&nbsp;&nbsp;&nbsp;{{recipeCount}} Recipes</div>
      <div id="paging">
         <!-- ### Build up the pagination buttons ### -->
         <a href="/">
            <div class="btn btn-sm btn-page">1</div>
         </a>
         {{#each pageButtons}}
         <a href="/page/{{this}}">
            <div class="btn btn-sm btn-page">{{this}}</div>
         </a>
         {{/each}}
      </div>
      <div id="sorting">
         <div class="homebar-label">Sort | Filter by</div>
         <select id="sorting-form" class="form-select form-select-sm">
            <option value="Rating">Rating</option>
            <option value="Date">Date added</option>
            <option value="Time">Cooking Time</option>
            <optgroup label="Difficulty">
               <option value="Easy">Easy</option>
               <option value="Intermediate">Intermediate</option>
               <option value="Advanced">Advanced</option>
            </optgroup>
            <optgroup label="Diet">
               <option value="Veggie">Veggie</option>
               <option value="Omnivore">Omnivore</option>
               <option value="Vegan">Vegan</option>
               <option value="Pescatarian">Pescatarian</option>
            </optgroup>
            <optgroup label="Cuisine">
               <option value="Asian">Asian</option>
               <option value="European">European</option>
               <option value="American">American</option>
               <option value="African">African</option>
            </optgroup>
            <optgroup label="Dish Type">
               <option value="Appetizers">Appetizers & Starters</option>
               <option value="Meat">Meat dishes</option>
               <option value="Soups">Soups & Stews</option>
               <option value="Pasta">Pasta & Noodles</option>
               <option value="Salads">Salads</option>
               <option value="Burgers">Burgers</option>
               <option value="Beans">Beans, Grains & Legumes</option>
               <option value="Casseroles">Casseroles & Gratins</option>
               <option value="Desserts">Desserts</option>
               <option value="Pizzas">Pizzas</option>
               <option value="Baked">Baked Goods</option>
            </optgroup>
         </select>
      </div>
   </div>

   <div class="container recipe-container">
      <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-1">
         {{#each recipes}}
         {{>recipe}}
         {{/each}}
      </div>
   </div>
</main>
