<main>
   <div class="secondary-bar">
      <div id="recipe-count">64 Recepies</div>
      <div id="paging">
         <div class="homebar-label">Page</div>
         <div class="btn btn-sm btn-page-active">1</div>
         <div class="btn btn-sm btn-page">2</div>
         <div class="btn btn-sm btn-page">3</div>
      </div>
      <div id="sorting">
         <div class="homebar-label">Sort by</div>
         <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Rating</option>
            <option value="1">Date added</option>
            <option value="2">Dish type</option>
            <option value="3">Ingredients</option>
         </select>
      </div>
   </div>
   <div class="container">
      <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-1">
         <div class="col">
            <div class="card p-2" style="width: 18rem;">
               <div class="recipe-image p-2" style="background-image: url('/images/recipe_dummy_1.jpg')">
                  <div class="card-body card">
                     <h5 class="card-title">Recipe 01</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card p-2" style="width: 18rem;">
               <div class="recipe-image p-2" style="background-image: url('/images/recipe_dummy_2.jpg')">
                  <div class="card-body card">
                     <h5 class="card-title">Recipe 02</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card p-2" style="width: 18rem;">
               <div class="recipe-image p-2" style="background-image: url('/images/recipe_dummy_3.jpg')">
                  <div class="card-body card">
                     <h5 class="card-title">Recipe 03</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card p-2" style="width: 18rem;">
               <div class="recipe-image p-2" style="background-image: url('/images/recipe_dummy_4.jpg')">
                  <div class="card-body card">
                     <h5 class="card-title">Recipe 04</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card p-2" style="width: 18rem;">
               <div class="recipe-image p-2" style="background-image: url('/images/recipe_dummy_5.jpg')">
                  <div class="card-body card">
                     <h5 class="card-title">Recipe 05</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card p-2" style="width: 18rem;">
               <div class="recipe-image p-2" style="background-image: url('/images/recipe_dummy_6.jpg')">
                  <div class="card-body card">
                     <h5 class="card-title">Recipe 06</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card p-2" style="width: 18rem;">
               <div class="recipe-image p-2" style="background-image: url('/images/recipe_dummy_7.jpg')">
                  <div class="card-body card">
                     <h5 class="card-title">Recipe 07</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card p-2" style="width: 18rem;">
               <div class="recipe-image p-2" style="background-image: url('/images/recipe_dummy_8.jpg')">
                  <div class="card-body card">
                     <h5 class="card-title">Recipe 08</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card p-2" style="width: 18rem;">
               <div class="recipe-image p-2" style="background-image: url('/images/recipe_dummy_9.jpg')">
                  <div class="card-body card">
                     <h5 class="card-title">Recipe 09</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card p-2" style="width: 18rem;">
               <div class="recipe-image p-2" style="background-image: url('/images/recipe_dummy_10.jpg')">
                  <div class="card-body card">
                     <h5 class="card-title">Recipe 10</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card p-2" style="width: 18rem;">
               <div class="recipe-image p-2" style="background-image: url('/images/recipe_dummy_11.jpg')">
                  <div class="card-body card">
                     <h5 class="card-title">Recipe 11</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card p-2" style="width: 18rem;">
               <div class="recipe-image p-2" style="background-image: url('/images/recipe_dummy_12.jpg')">
                  <div class="card-body card">
                     <h5 class="card-title">Recipe 12</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
