<main>
   <div class="secondary-bar">
      <div id="recipe-count">{{range}}&nbsp;&nbsp;&nbsp;of&nbsp;&nbsp;&nbsp;{{recipeCount}} Recipes</div>
      <div id="paging">
         <!-- ### Build up the pagination buttons ### -->
         <a href="/">
            <div class="btn btn-sm btn-page">1</div>
         </a>
         {{#each pageButtons}}
         <a href="/page/{{this}}">
            <div class="btn btn-sm btn-page">{{this}}</div>
         </a>
         {{/each}}
      </div>
      <div id="sorting">
         <!-- ### Sorting dropdown form begins here ### -->
         <div class="homebar-label">Sort | Filter by</div>
         <form id="sorting-form" action="/test-sorting-filtering" method="GET">
            <!-- Hidden input field to submit active page value -->
            <input id="pass-page-value" type="text" value="" name="active-page" hidden>
            <select id="sorting-dropdown" class="form-select form-select-sm" name="select"
               onchange="this.form.submit()">
               <!-- Sorting -->
               <option value="S Rating">Rating</option>
               <option value="S Date">Date added</option>
               <option value="S Time">Cooking Time</option>
               <!-- Filtering -->
               <optgroup label="Difficulty">
                  <option value="F Easy">Easy</option>
                  <option value="F Intermediate">Intermediate</option>
                  <option value="F Advanced">Advanced</option>
               </optgroup>
               <optgroup label="Diet">
                  <option value="F Veggie">Veggie</option>
                  <option value="F Omnivore">Omnivore</option>
                  <option value="F Vegan">Vegan</option>
                  <option value="F Pescatarian">Pescatarian</option>
               </optgroup>
               <optgroup label="Cuisine">
                  <option value="F Asian">Asian</option>
                  <option value="F European">European</option>
                  <option value="F American">American</option>
                  <option value="F African">African</option>
               </optgroup>
               <optgroup label="Dish Type">
                  <option value="F Appetizers">Appetizers & Starters</option>
                  <option value="F Meat">Meat dishes</option>
                  <option value="F Soups">Soups & Stews</option>
                  <option value="F Pasta">Pasta & Noodles</option>
                  <option value="F Salads">Salads</option>
                  <option value="F Burgers">Burgers</option>
                  <option value="F Beans">Beans, Grains & Legumes</option>
                  <option value="F Casseroles">Casseroles & Gratins</option>
                  <option value="F Desserts">Desserts</option>
                  <option value="F Pizzas">Pizzas</option>
                  <option value="F Baked">Baked Goods</option>
               </optgroup>
            </select>
         </form>
      </div>
   </div>
   <!-- ### Container recipe cards ### -->
   <div class="container recipe-container">
      <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-1">
         {{#each recipes}}
         {{>recipe}}
         {{/each}}
      </div>
   </div>
</main>
