<h1>Edit Your User Info</h1>

<form method='POST' enctype='multipart/form-data'>
  <label for='input-name'>Update Username</label>
  <input type='text' id='input-name' name='username' value={{user.username}} />
  <label for='input-email'>Update Email</label>
  <input type='email' id='input-email' name='email' value={{user.email}} />
  <label for='input-password'>Update Password</label>
  <input
    type='password'
    name='password'
    id='input-password'
    value={{user.password}}
  />
  <label for='input-picture'>New Profile Picture</label>
  <input id='input-picture' type='file' name='picture' accept='image/*' />

  <button>Edit</button>
</form>