// ### Fonts ###
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap");

$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-oleo: "Oleo Script", cursive;

// ### Colors ###
$white: #e2dede;
$offwhite: #d8d8d8;
$grey: #818181;
$black: #1f1f1f;
$orange: #ff9100;
$brown: #461f00;
$green: #21a700;
