// ### Fonts ###
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-acme: "Acme", sans-serif;
$font-rancho: "Rancho", cursive;

// ### Colors ###
$white: #ffffff;
$pine: #547a7b;
$petrol: #36a890;
$turquoise: #bee7d9;
$beige: #ebe5d7;
$powderblue: powderblue;
