// ### Fonts ###
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-hand: "Acme", sans-serif;
$font-oleo: "Oleo Script", cursive;

// ### Colors ###

$white: #ffffff;
$dark: #547a7b;
$petrol: #36a890;
$turquoise: #bee7de;
$beige: #fff4e0;
$powderblue: powderblue;
