.commentDiv {
  background-color: $offwhite;
  h6 {
    display: flex;
    justify-content: center;
    color: $dark-pine;
    font-size: 4em;
  }
  button {
    background-color: $dark-pine;
    color: $offwhite;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid $dark-pine;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: $dark-pine 0.15s ease-in-out, $turquoise 0.15s ease-in-out,
      $dark-pine 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .commentStyle {
    display: flex;
    justify-content: center;
  }
}
