.commentDiv {
  background-color: $beige;
  h6 {
    display: flex;
    justify-content: center;
    color: $dark-pine;
    font-size: 4em;
  }
  button {
    background-color: $dark-pine;
    border: none;
    color: $turquoise;
  }
  .commentStyle {
    display: flex;
    justify-content: center;
  }
}
