// ### Header styles ###

#hero-section {
   background-image: url("/images/header.png");
   background-size: cover;
   height: 18em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   form input {
      height: 1em;
      background-color: rgba(255, 255, 255, 0.685);
      // font-weight: bold;
      color: black;
   }
}

#recipe-search {
   width: 15em;
}

#welcome {
   text-align: center;
   font-size: 3em;
   width: 9em;
   line-height: 1em;
   font-family: $font-rancho;
   text-shadow: 2px 2px 3px rgb(20, 20, 20);
   color: $white;
}
