// ### Home styles ###

main {
   background-color: $offwhite;
   padding-bottom: 2em;
}

#recipe-count,
#paging,
#sorting {
   display: flex;
   align-items: center;
   @include secondary;
   .btn {
      margin-left: 0.3em;
      color: $white;
   }
   .btn-page {
      background-color: $grey;
   }
}

#recipe-list {
   padding: 1em;
   color: $pine;
}

.btn-page-active {
   background-color: $turquoise;
   color: $pine !important;
}

.homebar-label {
   margin-right: 0.7em;
   white-space: nowrap;
}

.form-select {
   margin: 0;
   background-color: $offwhite;
   color: $pine;
   width: 10em;
}
