// ### Import mixins/vars ###
@import "_mixins";
@import "_variables";
@import "header";
@import "hero";
@import "home";
@import "footer";

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

form {
  display: flex;
  flex-direction: column;
}

input:not([type="checkbox"]),
input:not([type="radio"]),
input:not([type="range"]),
textarea,
select {
  padding: 1em;
  border: 1px solid $grey;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  // background-color: $white;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
  color: white;
}

.wrapper {
  box-shadow: 0px 0px 5px $grey;
}

// ### Navbar styles ###

.navbar {
  padding: 0.6em 0.6em 0.4em;
  @include rounded;
}

.navbar-brand {
  font-family: $font-oleo;
  font-size: 1.5em;
  color: $orange !important;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  button {
    border: 0;
  }
}

.navbar-divide {
  display: inherit;
  align-items: center;
  height: 3em;
}

.disabled {
  color: $grey !important;
}
