// ### Recipe styles ###

.recipe-container {
   padding: 0 1.5em;
}

.recipe-image {
   background-size: cover;
   height: 23em;
   display: flex;
   align-items: flex-end;
   @include rounded;
   @include image-shadow;
   padding: 1em;
}

.card-body {
   opacity: 0.7;
}

.recipe-card {
   padding: 0.8em;
   margin-top: 1.5em;
   @include card-shadow;
   background-color: #f3ebd94b;
   transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.recipe-card:hover {
   box-shadow: 0 3px 8px #00000054;
   transform: scale(1.01);
}

#input-picture::before {
   content: "Add image";
   position: absolute;
   z-index: 2;
   display: block;
   background-color: #eee;
   width: 85px;
}
